<div class="my-8 bg-white py-4 text-center">
  <h5 class="text-lg font-bold my-2">Inclusive Hub編集部へ</h5>
  <p class="text-sm mt-2 mb-6">欲しい情報のリクエストやご要望を<br>
    フォームへお寄せください。</p>
  <div class="mb-6">
    <a href="https://www.google.com/" target="_blank" class="bg-black text-white px-5 py-2 rounded">ご意見・ご要望フォームへ</a>
  </div>
</div>
