<div data-menu-target="menu" class="hidden fixed inset-0 bg-white z-50">
  <button data-action="click->menu#toggle" class="text-gray-500">
    <svg xmlns="http://www.w3.org/2000/svg" class="h-8 w-8" fill="none" viewBox="0 0 24 24" stroke="currentColor">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
    </svg>
  </button>
</div>
